.boxer-bio {
  color: #777;
  background-color: #282e34;
  text-align: center;
  padding: 140px 100px 100px 100px;
  text-align: justify;
}

.opacity-1 {
  opacity: 0.1;
}

/*== Heading Separator Line ==*/
.heading-separator-line {
  width: 80px;
}

.border-primary {
  border-color: cornflowerblue !important;
  /*border-color: #20c997 !important;*/
}
/* END Title Section Description */

.h3 {
  letter-spacing: 5px !important;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif !important;
  color: azure;
  text-align: center;
}

p,
a {
  color: aliceblue;
  text-align: left;
}

.container-language {
  position: relative;
  justify-content: center !important;
  max-width: 1500px !important;
}

@media screen and (max-width: 780px) {
  .container-title {
    width: fit-content;
    margin-left: calc(50% - (474px / 2));
  }

  .boxer-bio {
    padding: 80px 100px;
  }
}

@media screen and (max-width: 540px) {
  .container-title {
    width: fit-content;
    margin-left: calc(50% - (390px / 2));
  }
}

@media screen and (max-width: 500px) {
  .container-title {
    width: fit-content;
    margin-left: calc(50% - (318px / 2));
  }
  .container-language {
    margin-left: -80px;
    margin-right: -80px;
  }
}

@media screen and (min-width: 1700px) {
  .container-language {
    max-width: 1500px;
    margin-left: calc(50% - (1500px / 2));
  }
}
