<div class="boxer-bio">
  <app-title-section
    [title]="'languages.title' | translate"
    [sub_title]="'Languages'"
  >
  </app-title-section>
  <!-- My Skills -->
  <!--<div class="row">
    @for (language of 'languages.data' | translate; track $index) {
    <div class="col-md-4">
      <app-card-flip
        [title]="language.name.toUpperCase()"
        [background]="language.image"
        [flags]="language.flags"
        [description]="language.description"
        [language]="language"
      ></app-card-flip>
    </div>
  }
  </div>-->
  <div class="row container-language mx-auto">
    @for (language of 'languages.data' | translate; track $index) {
    <div class="col-md-4">
      <app-language [language]="language"> </app-language>
    </div>
    }
  </div>
</div>
