<div class="boxer-bio">
  <app-title-section
    [title]="'languages.title' | translate"
    [sub_title]="'Languages'"
  >
  </app-title-section>
  <!-- My Skills -->
  <div class="row">
    <!--@for (language of 'languages.data' | translate; track $index) {
    <div class="col-md-4">
      <app-card-flip
        [title]="language.name"
        [background]="language.image"
      ></app-card-flip>
    </div>
  }-->
  </div>
  <div class="row container-language">
    <div class="inline boxer">
      <app-language
        [language]="language"
        *ngFor="let language of 'languages.data' | translate"
      >
      </app-language>
    </div>
  </div>
</div>
