<section id="works" class="work-section">
  <app-title-section
    [title]="'works-section.title' | translate"
    [sub_title]="'Summary'"
    class="mb-5"
  >
  </app-title-section>
  <div class="mx-auto accordion accordion-flush mt-5" id="{{ parentID }}">
    <div
      *ngFor="
        let work of portfolioWorks && portfolioWorks.length
          ? portfolioWorks
          : ('works' | translate)
      "
    >
      <!--<div *ngFor="let work of works">-->
      <app-accordion-content
        [parentData]="parentID"
        [content]="work"
        [code]="code"
      ></app-accordion-content>
    </div>
  </div>
</section>
