<section class="work-section">
  <app-title-section
    [class]="classType.WORK"
    [title]="'works-section.title' | translate"
    [sub_title]="'Summary'"
  >
  </app-title-section>
  <div class="accordion accordion-flush" id="{{ parentID }}">
    <div
      *ngFor="let work of works && works.length ? works : ('works' | translate)"
    >
      <!--<div *ngFor="let work of works">-->
      <app-accordion-content
        [parentData]="parentID"
        [content]="work"
        [code]="code"
      ></app-accordion-content>
    </div>
  </div>
</section>
