.text {
  margin-top: 30px;
  font-weight: bold;
}

#cv {
  margin-left: 3%;
  text-align: center;
  display: inline;
  width: 200px;
  position: absolute;
  z-index: 90;
  text-decoration: none;
  color: aliceblue;
}
#name {
  margin-left: 3%;
  text-align: center;
  display: inline;
  width: 200px;
  position: absolute;
  z-index: 100;
}

.border {
  margin-left: calc(50% - 200px);
  color: #fff;
  padding: 10px;
  width: 400px;
  font-size: 25px;
  letter-spacing: 10px;
}

.h3 {
  letter-spacing: 5px !important;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif !important;
  color: azure;
  text-align: center;
}

p,
a {
  color: aliceblue;
  text-align: left;
}


.profile {
  width: 300px;
  display: inline;
  margin: 0% auto;
}

.hidden_mobile {
  display: block;
}
.hidden_desktop {
  display: none;
}

@media screen and (max-width: 1024px) {
  .profile {
    width: 200px;
    display: inline;
    margin: 0% auto;
  }

  @media screen and (max-width: 780px) {
    .hidden_mobile {
      display: none;
    }
    .hidden_desktop {
      display: block;
    }
  }
}

/* Language */
.nav-wrapper {
  position: absolute;
  width: 300px;
  float: right;
  right: 3%;
  display: inline;
  text-align: right;
}
.sl-nav {
  display: inline;
}
.sl-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
}
.sl-nav li {
  cursor: pointer;
  padding-bottom: 10px;
}
.sl-nav li ul {
  display: none;
}
.sl-nav li:hover ul {
  position: absolute;
  top: 29px;
  right: -15px;
  display: block;
  background: #fff;
  width: 120px;
  padding-top: 0px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.sl-nav li:hover .triangle {
  position: absolute;
  top: 15px;
  right: -10px;
  z-index: 10;
  height: 14px;
  overflow: hidden;
  width: 30px;
  background: transparent;
}
.sl-nav li:hover .triangle:after {
  content: "";
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: #fff;
  border-radius: 2px 0px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.sl-nav li ul li {
  position: relative;
  text-align: left;
  background: transparent;
  padding: 15px 15px;
  padding-bottom: 0;
  z-index: 2;
  font-size: 15px;
  color: #3c3c3c;
}
.sl-nav li ul li:last-of-type {
  padding-bottom: 15px;
}
.sl-nav li ul li span {
  padding-left: 5px;
}
.sl-nav li ul li span:hover,
.sl-nav li ul li span.active {
  color: #146c78;
}
.sl-flag {
  display: inline-block;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  width: 15px;
  height: 15px;
  background: #aaa;
  border-radius: 50%;
  position: relative;
  top: 2px;
  overflow: hidden;
}
.flag-it {
  background: url("https://media.istockphoto.com/vectors/italian-flag-vector-id690489086?k=20&m=690489086&s=612x612&w=0&h=xy2Wz9eIEdt_NPawL77q232A0NTz3eP9btbUJEOy6Fo=");
  background-size: cover;
  background-position: center center;
}
.flag-en {
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1200px-Flag_of_the_United_Kingdom.svg.png");
  background-size: cover;
  background-position: center center;
}
