<div class="accordion-item accordion_color">
    <h2 class="accordion-header" id="{{aria_label}}">
        <button class="accordion-button collapsed titleCourse" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#'+aria_control" aria-expanded="false" [attr.aria-controls]="aria_control">
            {{course?.title}}
            <span class="from hidden_mobile">{{course?.from}}<br />
                {{course?.to}}</span>
        </button>
    </h2>
    <div id="{{aria_control}}" class="accordion-collapse collapse" [attr.aria-labelledby]="aria_label"
        data-bs-parent="#course-accordion">
        <div class="accordion-body" style="background-color: #111 !important; color: aliceblue">
            <h3>{{course?.role}}</h3>
            <span class="hidden_desktop">{{course.from}}<br />
                {{course.to}}</span>
            <hr />
            <h5>{{course.where}}</h5>
            <div [innerHTML]="course.description"></div>
            <div class="row mt-3">
                <div class="col-md-3" *ngIf="course.description.includes('Spring')">
                    <img class="logo-develop" src="{{environment.baseUrl}}assets/img/develop/Spring_Boot.png" alt=""
                        srcset="">
                    <p class="text-white mt-2">&bull; Spring Boot Framework</p>
                </div>
                <div class="col-md-3" *ngIf="course.description.includes('Angular')">
                    <img class="logo-develop" src="{{environment.baseUrl}}assets/img/develop/Angular.png" alt=""
                        srcset="">
                    <p class="text-white mt-2">&bull; AngularJS Framework<br>&bull; Typescript </p>
                </div>
                <div class="col-md-3" *ngIf="course.description.includes('Hibernate')">
                    <img class="logo-develop" src="{{environment.baseUrl}}assets/img/develop/Java_logo.png" alt=""
                        srcset="">
                    <p class="text-white mt-2">&bull; Java v11 <br>&bull; Hibernate and JPA </p>
                </div>
                <div class="col-md-3" *ngIf="course.description.includes('MySQL')">
                    <img class="logo-develop" src="{{environment.baseUrl}}assets/img/develop/mysql.png" alt=""
                        srcset="">
                    <p class="text-white mt-2">&bull; MySQL Database </p>
                </div>
                <div class="col-md-3" *ngIf="course.description.includes('FrontEnd')">
                    <img class="logo-develop" src="{{environment.baseUrl}}assets/img/develop/html5.jpg" alt=""
                        srcset="">
                    <p class="text-white mt-2">&bull; HTML5<br>&bull; Javascript </p>
                </div>
                <div class="col-md-3" *ngIf="course.description.includes('FrontEnd')">
                    <img class="logo-develop" src="{{environment.baseUrl}}assets/img/develop/CSS.png" alt="" srcset="">
                    <p class="text-white mt-2">&bull; CSS</p>
                </div>
                <div class="col-md-3" *ngIf="course.description.includes('Cisco')">
                    <img class="logo-develop" src="{{environment.baseUrl}}assets/img/develop/Cisco.png" alt=""
                        srcset="">
                    <p class="text-white mt-2">&bull; Cisco Networking Academy</p>
                </div>
                <div class="col-md-3" *ngIf="course.where.includes('College')">
                    <img class="logo-develop" src="{{environment.baseUrl}}assets/img/develop/BristolCollege.jpg" alt=""
                        srcset="">
                    <p class="text-white mt-2">&bull; City of Bristol College</p>
                </div>
            </div>
        </div>
    </div>
</div>