<div class="bgimg-1"></div>
<div class="caption">
  <app-header></app-header>
  <div class="image-cropper">
    <img src="{{environment.profileImageUrl}}" class="profile" alt="" />
  </div>
  <div class="title">
    <h3 class="h3 console-container">
      {{ "profile.description.pt1" | translate
      }}
      <span style="color: cornflowerblue">{{fullName}}</span>,<br>
      <span style="color: cornflowerblue" id='text'></span>
      <div class='console-underscore' id='console'>
        <!--&#95;-->
      </div>
      {{ "profile.description.pt2" | translate }}
    </h3>
  </div>
  <div class="scroll">
    <div class="icon-animation"><a pageScroll href="#go-to-biography"><i class="fa-solid fa-arrow-down-long"></i></a>
    </div>
  </div>
  <!--<div class="contact hidden_mobile">
    <a href="mailto:{{email}}?subject=[Contact Me] Portfolio">
      E-Mail: {{email}}
    </a>
  </div>-->
  <p class="follow">
    {{ "profile.follow" | translate }}
    <a href="{{environment.facebookUrl}}" target="_blank"><img
        src="{{environment.baseUrl}}assets/img/social/facebook.png" class="logo" alt="" srcset="" /></a>
    <a href="{{environment.linkedinUrl}}" target="_blank"><img
        src="{{environment.baseUrl}}assets/img/social/linkedin.png" class="logo" alt="" srcset="" /></a>
    <a href="{{environment.instagramUrl}}" target="_blank"><img src="{{environment.baseUrl}}assets/img/social/ig.png"
        class="logo" alt="" srcset="" /></a>
    <a href="{{environment.githubUrl}}" target="_blank"><img src="{{environment.baseUrl}}assets/img/social/git.png"
        class="logo" alt="" srcset="" /></a>
  </p>
</div>