.bgimg-1 {
  position: relative;
  opacity: 0.15;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("../../../assets/img/wallpaper.jpg");
  background-color: #000;
  min-height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  right: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  color: #000;
}

app-header {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

.image-cropper {
  width: 350px;
  height: 350px;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  top: calc(50% - 150px);
  left: calc(10%);
}
.scroll {
  position: absolute;
  bottom: 1%;
  left: calc(50% - 5px);
  color: aliceblue;
}
/* Icon Animation */
.icon-animation i {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}

.profile {
  width: 350px;
  display: inline;
  margin: 0% auto;
}

.title {
  position: absolute;
  right: 5%;
  max-width: 700px;
  top: 45%;
  margin-top: 20px;
  /*margin-left: 45%;
  margin-right: 5%;*/
}

.h3 {
  letter-spacing: 5px !important;
  text-transform: uppercase;
  font: 28px "Lato", sans-serif !important;
  color: azure;
  text-align: center;
}

.contact {
  position: absolute;
  max-width: 600px;
  bottom: 1%;
  margin-left: 1%;
}

.follow {
  position: absolute;
  float: right;
  right: 1%;
  bottom: 1%;
  /*margin-left: calc(100% - (200px + 3%) - 1%);*/
  margin-right: 1%;
  display: inline;
  max-width: 300px;
}

.logo {
  margin-left: 15px;
  width: 25px;
  height: 25px;
  display: inline;
}

p,
a {
  color: aliceblue;
  text-align: left;
  text-decoration: none;
}

.hidden_mobile {
  display: block;
}
.hidden_desktop {
  display: none;
}

@media screen and (max-width: 1024px) {
  .bgimg-1 {
    background-attachment: scroll;
  }
  .image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    top: 20%;
    left: calc(50% - 100px);
  }

  .profile {
    width: 200px;
    display: inline;
    margin: 0% auto;
  }

  .title {
    width: auto;
    top: 55%;
    left: -55%;
    margin-left: calc(100% - 300px);
  }

  @media screen and (max-width: 780px) {
    .title,
    .console-container {
      width: auto;
      top: 55%;
      left: -50%;
      margin-left: 55%;
    }
    .contact {
      font-size: small;
    }

    .hidden_mobile {
      display: none;
    }
    .hidden_desktop {
      display: block;
    }
  }
}

.console-container {
  font-family: Khula;
  font-size: 4em;
  text-align: center;
  height: 200px;
  max-width: 600px;
  display: block;
  color: white;
  margin: auto;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

@media screen and (max-width: 640px) {
  .scroll {
    position: absolute;
    bottom: 10%;
    left: calc(50% - 5px);
    color: aliceblue;
  }
  @-webkit-keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
  @keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
}

/* Image Border Animation */
:root {
  --background: #005;
  --primary: #88D5BF;
  --secondary: #5D6BF8;
  --third: #e27fcb;
}

.shape {
  /*background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);*/
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 1s ease-in-out;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  }
}