<div class="footer">
    <p class='p footer-text' id="footer-text" data-inviewport="">{{"footer.title_1" | translate}} <a
            class="fw-lighter hidden_mobile no-link">{{"footer.title_2" |
            translate}}</a>
        <a class='source-code hidden_mobile' target='_blank' href='{{environment.githubProjectUrl}}'>Github
            Source-Code</a>
        <!--<a class='source-code hidden_desktop' target='_blank' href='{{environment.githubProjectUrl}}'>Source-Code</a>-->
    </p>

</div>