<app-header (changeLanguages)="changeLanguages($event)"></app-header>
<section class="project">
  <a routerLink="" class="link"
    ><i class="fa fa-arrow-left" style="padding-right: 10px"></i>
    {{ "project-section.go_back" | translate }}</a
  >
  <app-title-section
    [title]="'project-section.title' | translate"
    [sub_title]="'Developing'"
  ></app-title-section>

  <div align="center" class="row">
    <!--<app-card-flip
      class="col-md-4 mx-auto my-5 mt-1"
      [project]="project"
      *ngFor="
        let project of portfolioProjects && portfolioProjects.length
          ? portfolioProjects
          : ('project-section.projects' | translate)
      "
    >
    </app-card-flip>-->
    <app-card-flip-elegant
      class="col-md-4 mx-auto my-5 mt-1"
      [project]="project"
      *ngFor="
        let project of portfolioProjects && portfolioProjects.length
          ? portfolioProjects
          : ('project-section.projects' | translate)
      "
    >
    </app-card-flip-elegant>
  </div>
</section>
