<div class="accordion-item accordion_color">
  <h2 class="accordion-header" id="{{ aria_label }}">
    <button
      class="accordion-button collapsed title"
      type="button"
      data-bs-toggle="collapse"
      (click)="startStopAnimation()"
      [attr.data-bs-target]="'#' + aria_control"
      aria-expanded="false"
      [attr.aria-controls]="aria_control"
    >
      {{ content?.title }}
      <span class="from hidden_mobile"
        >{{ content?.from }}<br />
        {{ content?.to }}</span
      >
    </button>
  </h2>
  <div
    id="{{ aria_control }}"
    class="accordion-collapse collapse"
    [attr.aria-labelledby]="aria_label"
    [attr.data-bs-parent]="'#' + parentData"
  >
    <div
      class="accordion-body"
      style="background-color: #111 !important; color: aliceblue"
    >
      <h3>{{ content?.role }}</h3>
      <span class="hidden_desktop"
        >{{ content.from }}<br />
        {{ content.to }}</span
      >
      <hr />
      <h5>{{ content.where }}</h5>
      <div [innerHTML]="content.description"></div>

      <app-skill-card [content]="content"></app-skill-card>
    </div>
  </div>
</div>
