.h3 {
  letter-spacing: 5px !important;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif !important;
  color: azure;
  text-align: center;
}

p,
a {
  color: aliceblue;
  text-align: left;
}

.from {
  position: absolute;
  right: 60px;
  font-size: small;
  text-align: end;
  float: right;
}

.title {
  background-color: #111 !important;
  color: aliceblue !important;
}

.accordion_color {
  background-color: #282e34 !important;
}

.accordion-button:focus {
  z-index: 3;
  border-color: transparent !important;
  outline: 0 !important;
  /* I changed the color on this line */
  /* If you do not want any color, just delete */
  box-shadow: 0 0 0 0.25rem rgba(105, 105, 105, 0.1);
}

.accordion-button.collapsed {
  z-index: 0; /* Imposta un z-index basso quando l'accordion è chiuso */
}

.accordion-button:not(.collapsed) {
  z-index: 0; /* Imposta un z-index leggermente più alto quando l'accordion è aperto, ma inferiore a quello dell'header */
}
