<app-profile
  (changeLanguagesWorkSection)="changeLanguagesWork($event)"
  (changeLanguagesCourseSection)="changeLanguagesCourse($event)"
  (changeLanguagesProfileSection)="changeLanguagesProfile($event)"
  [profile]="profile"
></app-profile>
<app-description></app-description>
<app-works-section [works]="works"></app-works-section>
<app-languages></app-languages>
<app-course-section [courses]="courses!"></app-course-section>
<app-personal-project></app-personal-project>
<app-contact></app-contact>
<!--<app-info-section></app-info-section>-->
<app-footer></app-footer>
