<app-profile
  (changeLanguagesSection)="changeLanguages($event)"
  [portfolio]="portfolio"
></app-profile>
<app-description [portfolio]="portfolio"></app-description>
<app-works-section [portfolioWorks]="portfolio?.works"></app-works-section>
<app-languages></app-languages>
<app-course-section
  [portfolioCourses]="portfolio?.courses"
></app-course-section>
<app-personal-project></app-personal-project>
<app-contact [portfolio]="portfolio"></app-contact>
<!--<app-info-section></app-info-section>-->
<app-footer [portfolio]="portfolio"></app-footer>
