<section class="work-section">
    <!-- Heading -->
    <div class="position-relative d-flex text-center mb-5 container-title">
        <h2 class="text-24 text-muted opacity-1 text-uppercase fw-600 w-100 mb-0 t">Summary</h2>
        <p class="text-9 text-white fw-600 position-absolute w-100 align-self-center lh-base mb-0 text-center"
            style="text-transform: uppercase;">{{ "works-section.title" | translate }}<span
                class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"></span> </p>
    </div>
    <!-- Heading end-->
    <div class="accordion accordion-flush" id="work-accordion">
        <div class="accordion-item accordion_color">
            <h2 class="accordion-header" id="{{aria_label}}">
                <button class="accordion-button collapsed titleWork" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#'+aria_control" aria-expanded="false" [attr.aria-controls]="aria_control">
                    Title
                    <span class="from hidden_mobile">From<br />
                        To</span>
                </button>
            </h2>
            <div id="{{aria_control}}" class="accordion-collapse collapse" [attr.aria-labelledby]="aria_label"
                data-bs-parent="#work-accordion">
                <div class="accordion-body" style="background-color: #111 !important; color: aliceblue">
                    <h3>Role</h3>
                    <span class="hidden_desktop">From<br />
                        to</span>
                    <hr />
                    <h5>where</h5>
                    <div>Joined the UniCredit group immediately after hiring, I worked on several projects using
                        different technologies,
                        including <code> JPA, Hibernate, Quarkus, Spring Boot. </code> <br> I got a good command of Code
                        Coverage for to be able
                        to carry out the tests correctly with <code> JUnit and Mockito </code>, while for the tests
                        locally and in the
                        environment of the entire application using Postman with the relative enviroments. <br> Good
                        knowledge of the
                        application's Pre-Deploy and Deploy environments, such as
                        <code> Jenkins, Docker and OpenShift Pods. </code>
                        <img class="logo-develop" src="{{environment.baseUrl}}assets/img/develop/Spring_Boot.png" alt=""
                            srcset="">
                        <img class="logo-develop" src="{{environment.baseUrl}}assets/img/develop/Angular.png" alt=""
                            srcset="">
                        <img class="logo-develop" src="{{environment.baseUrl}}assets/img/develop/Java_logo.png" alt=""
                            srcset="">
                        <img class="logo-develop" src="{{environment.baseUrl}}assets/img/develop/mysql.png" alt=""
                            srcset="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>