.course-section {
  color: #777;
  background-color: #111;
  text-align: center;
  padding: 140px 100px 100px 100px;
  text-align: justify;
}

#course-accordion {
  margin-top: 0px;
  max-width: 1500px;
  padding-top: 10px;
}

@media screen and (max-width: 780px) {
  .course-section {
    padding: 80px 50px;
  }

  .hidden_mobile {
    display: none;
  }

  .hidden_desktop {
    display: block;
  }

  .course-section {
    padding: 80px 15px;
  }

  #course-accordion {
    margin-top: 50px;
  }
}

@media screen and (max-width: 560px) {
  .course-section {
    padding: 80px 10px;
  }

  #course-accordion {
    margin-top: 70px;
  }
}
