<section id="courses" class="course-section">
  <app-title-section
    [title]="'course-section.title' | translate"
    [sub_title]="'Summary'"
  >
  </app-title-section>
  <div class="mx-auto accordion accordion-flush" id="{{ parentID }}">
    <div
      *ngFor="
        let course of portfolioCourses && portfolioCourses.length
          ? portfolioCourses
          : ('course-section.courses' | translate)
      "
    >
      <app-accordion-content
        [parentData]="parentID"
        [content]="course"
        [code]="code"
      ></app-accordion-content>
    </div>
  </div>
</section>
