<div id="biography" class="boxer-bio">
  <app-title-section
    [title]="'biography.title' | translate"
    [sub_title]="'About Me'"
  >
  </app-title-section>
  <!--<div
    class="biografia revealUp"
    [innerHTML]="
      portfolio?.biography != undefined
        ? portfolio?.biography
        : ('biography.text' | translate)
    "
  ></div>-->
  <div class="row mx-auto biografia">
    <div class="col-12 col-lg-4 mb-5" style="align-content: center">
      <div class="image-cropper shape mx-auto">
        <img
          src="{{
            portfolio?.profilePhoto_url != undefined
              ? portfolio?.profilePhoto_url
              : environment.profileImageUrl
          }}"
          class="profile"
          alt="Giovanni Lamarmora"
          name="Giovanni Lamarmora"
        />
      </div>
    </div>
    <div class="col-12 col-lg-8" style="align-content: center">
      <div
        style="text-align: justify !important"
        class="mx-auto text-center revealUp"
        [innerHTML]="
          transform(
            portfolio?.biography != undefined
              ? portfolio?.biography
              : ('biography.text' | translate)
          )
        "
      ></div>
    </div>
  </div>
</div>
