<div id="biography" class="boxer-bio" id="go-to-biography">
  <app-title-section
    [title]="'biography.title' | translate"
    [sub_title]="'About Me'"
  >
  </app-title-section>
  <div
    class="biografia revealUp"
    [innerHTML]="
      portfolio?.biography != undefined
        ? portfolio?.biography
        : ('biography.text' | translate)
    "
  ></div>
  <!--<div class="row mx-auto biografia">
    <div class="col-12 col-md-4">
      <div class="image-cropper shape mx-auto">
        <img
          src="{{
            portfolio?.profilePhoto_url != undefined
              ? portfolio?.profilePhoto_url
              : environment.profileImageUrl
          }}"
          class="profile"
          alt="Giovanni Lamarmora"
          name="Giovanni Lamarmora"
        />
      </div>
    </div>
    <div class="col-12 col-md-7">
      <p class="mx-auto text-center revealUp">
        {{
          portfolio?.biography != undefined
            ? portfolio?.biography
            : ("biography.text" | translate)
        }}
      </p>
    </div>
  </div>-->
</div>
