.boxer-bio {
  background: linear-gradient(#1f2429, #0f1a27);
  /*background-image: url("../../../../assets/img/wallpaper.webp");
  background-size: cover;
  opacity: 0.1;*/
  text-align: center;
  padding: 140px 100px 80px 100px;
  text-align: justify;
  min-height: calc(100%);
}

/*.boxer-bio {
  color: #777;
  background-color: #282e34;
  text-align: center;
  padding: 140px 100px 100px 100px;
  text-align: justify;
}*/

.opacity-1 {
  opacity: 0.1;
}

/*== Heading Separator Line ==*/
.heading-separator-line {
  width: 80px;
}

.border-primary {
  border-color: cornflowerblue !important;
  /*border-color: #20c997 !important;*/
}
/* END Title Section Description */

.h3 {
  letter-spacing: 5px !important;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif !important;
  color: azure;
  text-align: center;
}
.biografia {
  margin-left: calc(50% - (1500px / 2));
  max-width: 1500px;
  text-align: center;
  padding-top: 40px;
  color: aliceblue;
}

p,
a {
  color: aliceblue;
  text-align: left;
}

@media screen and (max-width: 1650px) {
  .biografia {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 986px) {
  .biografia {
    padding-top: 0px;
  }
}

@media screen and (max-width: 780px) {
  .biografia {
    font-size: small;
    margin-left: -50px;
    margin-right: -50px;
  }
  .boxer-bio {
    padding: 80px 25px 80px 25px;
  }

  .image-cropper {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .container-title {
    width: fit-content;
    margin-left: calc(50% - (236px / 2));
  }
}

/** Image */
.image-cropper {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  overflow: hidden;
  border-radius: 50%;
  top: calc(50% - 250px);
  left: 15%;
}

.profile {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  background-size: cover;
  object-fit: cover;
  /* Fallback for non-supportive browsers */
  max-width: -webkit-fill-available;
}

/* Image Border Animation */
:root {
  --background: #005;
  --primary: #88d5bf;
  --secondary: #5d6bf8;
  --third: #e27fcb;
}

.shape {
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  -webkit-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    -webkit-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    -webkit-border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    -webkit-border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }
}
