.course-section {
    color: #777;
    background-color: #111;
    text-align: center;
    padding: 80px 100px;
    text-align: justify;
}

#course-accordion {
    margin-top: 0px;
    margin-left: calc(50% - (1500px / 2));
    max-width: 1500px;
    padding-top: 10px;
}

.hidden_mobile {
    display: block;
}

.hidden_desktop {
    display: none;
}

@media screen and (max-width: 1650px) {
    #course-accordion {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* Turn off parallax scrolling for tablets and phones */
@media screen and (max-width: 1024px) {}

@media screen and (max-width: 780px) {
    .hidden_mobile {
        display: none;
    }

    .hidden_desktop {
        display: block;
    }

    #course-accordion {
        margin-top: 50px;
        margin-left: -10%;
        margin-right: -10%;
    }
}

@media screen and (max-width: 560px) {
    #course-accordion {
        margin-top: 70px;
        margin-left: -20%;
        margin-right: -20%;
    }
}

@media screen and (max-width: 500px) {
    #course-accordion {
        margin-top: 70px;
        margin-left: -45%;
        margin-right: -45%;
    }
}