<div class="bgimg-1"></div>
<div class="caption">
  <div (mouseover)="downloadCV = true" (mouseout)="downloadCV = false" class="text">
      <p *ngIf="!downloadCV" [@inOutAnimation] id="name">
        Giovanni <span style="color: #777">Lamarmora</span>
      </p>
      <a
        *ngIf="downloadCV"
        [@inOutAnimation]
        href="https://drive.google.com/file/d/1RUQ8AbiTcqq4nOnBFpw5QaCiV9tC7KAW/view?usp=sharing"
        target="_blank"
        id="cv"
        >Download <span style="color: #777">CV</span></a
      >
    <p class="follow">
      Follow Me
      <a href="https://www.facebook.com/gio.lamarmora" target="_blank"
        ><img
          src="../../assets/img/social/facebook.png"
          class="logo"
          alt=""
          srcset=""
      /></a>
      <a href="https://www.linkedin.com/in/giovannilamarmora" target="_blank"
        ><img
          src="../../assets/img/social/linkedin.png"
          class="logo"
          alt=""
          srcset=""
      /></a>
      <a href="https://www.instagram.com/gio_lamarmora" target="_blank"
        ><img
          src="../../assets/img/social/ig.png"
          class="logo"
          alt=""
          srcset=""
      /></a>
    </p>
  </div>
  <div class="image-cropper">
    <img
      src="https://media-exp1.licdn.com/dms/image/C4D03AQH8e_2qWvDl9g/profile-displayphoto-shrink_800_800/0/1620846625034?e=1652313600&v=beta&t=PlCVpLWgMNubE0Wb-p6XO-kHoWOYCpDRzUq0jXcU5hQ"
      class="profile"
      alt=""
    />
  </div>
  <div class="title">
    <h3 class="h3">
      Hello, I'm
      <span style="color: cornflowerblue">Giovanni Lamarmora</span>, Java
      Developer based in Milan.
    </h3>
  </div>
  <div class="contact">
    <p>
      E-Mail: giovannilamarmora.working@gmail.com <br />
      WebSite: giovannilamarmora.wixsite.com/giovanni <br />
      Phone: +44 7854621358 <br />
    </p>
  </div>
</div>
