<!-- Heading -->
<div class="{{class}}">
    <div class="position-relative d-flex text-center mb-5 container-title">
        <h2 class="text-24 text-muted opacity-1 text-uppercase fw-600 w-100 mb-0 t">{{sub_title}}</h2>
        <p class="text-9 text-white fw-600 position-absolute w-100 align-self-center lh-base mb-0 text-center"
            style="text-transform: uppercase;">{{ title }}<span
                class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"></span> </p>
    </div>
</div>
<!-- Heading end-->