.h3 {
  letter-spacing: 5px !important;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif !important;
  color: azure;
  text-align: center;
}
.boxer {
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1500px;
}

.progress {
  border-radius: 10px;
  height: 10px;
}

.row {
  display: flex !important;
  justify-content: space-between !important;
  flex-wrap: wrap !important;
}

.sl-flag {
  display: inline-block;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  width: 25px;
  height: 25px;
  background: #aaa;
  border-radius: 50%;
  position: relative;
  top: 2px;
  overflow: hidden;
}

.flag-it {
  background: url("../../../../../assets/img/languages/Italy.webp");
  background-size: cover;
  background-position: center center;
}
.flag-en {
  background: url("../../../../../assets/img/languages/English.webp");
  background-size: cover;
  background-position: center center;
}
.flag-es {
  background: url("../../../../../assets/img/languages/spagna.webp");
  background-size: cover;
  background-position: center center;
}

p,
a {
  color: aliceblue;
  text-align: left;
}

.reverse-progress-bar .progress-bar {
  animation-direction: reverse; /* Inverte l'animazione di Bootstrap */
  transform-origin: right; /* Imposta l'origine della barra sulla destra */
}
