<app-header (changeLanguages)="changeLanguages($event)"></app-header>
<section id="profile-minimal">
  <div class="container" data-inviewport="slide-up">
    <div class="title">{{ fullName }}</div>
    <div class="subtitle">
      <p id="text-animate"></p>
    </div>
  </div>
  <div class="minimal">
    <div
      class="scroll clickable"
      style="width: 20px"
      routerLink="#go-to-biography"
    >
      <div class="icon-animation">
        <a pageScroll href="#go-to-biography" style="height: max-content"
          ><i class="fa-solid fa-arrow-down-long"></i
        ></a>
      </div>
    </div>
    <!--<div class="contact hidden_mobile">
      <a href="mailto:{{email}}?subject=[Contact Me] Portfolio">
        E-Mail: {{email}}
      </a>
    </div>-->
    <p class="follow" data-inviewport="slide-right">
      {{ "profile.follow" | translate }}
      <a href="{{ environment.facebookUrl }}" target="_blank"
        ><img
          src="{{ environment.baseUrl }}assets/img/social/facebook.webp"
          class="logo"
          alt=""
          srcset=""
      /></a>
      <a href="{{ environment.linkedinUrl }}" target="_blank"
        ><img
          src="{{ environment.baseUrl }}assets/img/social/linkedin.webp"
          class="logo"
          alt=""
          srcset=""
      /></a>
      <a href="{{ environment.instagramUrl }}" target="_blank"
        ><img
          src="{{ environment.baseUrl }}assets/img/social/ig.webp"
          class="logo"
          alt=""
          srcset=""
      /></a>
      <a href="{{ environment.githubUrl }}" target="_blank"
        ><img
          src="{{ environment.baseUrl }}assets/img/social/git.webp"
          class="logo"
          alt=""
          srcset=""
      /></a>
    </p>
    <ul class="intro-social" data-inviewport="slide-up">
      <li>
        <a href="{{ environment.facebookUrl }}" target="_blank"
          ><i class="fab fa-facebook" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a href="https://linktr.ee/giovannilamarmora" target="_blank"
          ><i class="fab fa-solid fa-link" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a href="{{ environment.instagramUrl }}" target="_blank"
          ><i class="fab fa-instagram" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a href="{{ environment.linkedinUrl }}" target="_blank"
          ><i class="fab fa-linkedin" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a href="{{ environment.githubUrl }}" target="_blank"
          ><i class="fab fa-github" aria-hidden="true"></i
        ></a>
      </li>
    </ul>
    <!-- end intro social -->
    <div class="intro-scroll">
      <a href="#contact" class="scroll-link smoothscroll">
        {{ "profile.contact" | translate }}
      </a>
    </div>
    <!-- end intro scroll -->
  </div>
</section>
